.bg-light {
    background-color: #FF8E00
}

.carousel-caption{
    background-color:rgba(231,118,51,0.70);
        margin-bottom: 40px;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    color: black;
    text-align: center;
}