@charset "utf-8";

.bg-light {
    background-color: #FF8E00
}
.donar1 {
    margin-left: 81px;
    margin-right: 74px;
}

.Perro {
    text-align: center;
    margin-left: 300px;
}



.carousel-caption{
    background-color: rgba(255,255,255,0.70);
    margin-bottom: 40px;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    color: black;
    text-align: center;
}

	.pie01{
		background-color: #FFB600;
		color: #FFFFFF;
		margin-top: 60px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		align-content: center;
	}
	.pie01 a{
	
	color:#FFFFFF;
	}

	.pie01 a:hover{
	color:#5E5E5E
	}

	.pie02{
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
	}
.Parallax {
    width: 1393px;
    background-image: url(Foto%20Donaci%C3%B3n.jpg);
    height: 346px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
    font-size: 71%;
}


.Parallax p {
    width: 66%;
    font-size: 268%;
}
.cantidad1 {
    margin-left: 553px;
    margin-top: -11px;
}
.cantidad1 a .btn.btn-lg.donar2 {
    margin-top: 104px;
    margin-left: -151px;
}



.foto {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url(digital-art-geometry-texture-black-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.col-sm4 .thumbnail img {
    width: 78%;
}
.h1titulo {
    text-align: center;
}
.text-left.col-lg-6.offset-lg-2  {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    text-align: left;
    margin-top: -105px;

}
.text-left.col-lg-6.offset-lg-2.beagle {
    margin-top: -166px;
}


.btn.btn-lg {
    border-color: #000000;
    margin-top: -59px;
    text-align: center;
}
.btn.btn-lg.enviar {
    margin-top: 18px;
    text-align: center;
    margin-left: 663px;
    width: 10%;
    font-size: 30px;
}
.nombre1 {
    text-align: center;
}
.apellido {
    text-align: center;
}
.correo {
    text-align: center;
}
.telefono {
    text-align: center;
}
.movil {
    text-align: center;
}






.text-left.col-lg-6.offset-lg-2.caracat {
    margin-top: -135px;
}
.text-left.col-lg-6.offset-lg-2.miniatura {
    margin-top: -132px;
}
.btn.btn-lg.adoptar1 {
    margin-top: -300px;
}
.btn.btn-lg.adoptar2 {
    margin-top: -156px;
}
.btn.btn-lg.adoptar3 {
    margin-top: -287px;
}
.btn.btn-lg.adoptar4 {
    margin-top: -441px;
}






.Parallax1 {
    background-image: url(adoptar1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1391px;
    height: 352px;
    background-attachment: fixed;
}
body p {
    font-size: 168%;
}

















@media only screen and (max-width: 700px) {
	.carousel-caption {
    background-color: rgba(255,255,255,0.70)
}
.Parallax1 p {
    width: 26%;
    font-size: 123%;
}



}
.beagle {
}

.caracat {
}
.parrafo1 {
    margin-left: 100px;
    margin-right: 100px;
}
.perrito1 {
    margin-left: 256px;
}
.gatito1 {
    margin-left: 398px;
    height: 478%;
    width: 33%;
}



.miniatura {
}
.Infoacerca {
    text-align: center;
    font-size: 210%;
    margin-right: 80px;
    margin-left: 79px;
}

.adoptar1 {
}
.adoptarp {
    text-align: center;
    font-size: 141%;
}

.adoptar2 {
}
.adoptar3 {
}
.adoptar4 {
}
.enviar {
}
.nombre1 {
}
.correo {
}
.apellido {
}
.telefono {
}
.movil {
}
.adoptarp {
}
.Infoacerca {
}
.Perro {
}
.Info1 {
}
.adoptarperro1 {
}
.parrafo1 {
}
.perrito1 {
}
.gatito1 {
}
.donar1 {
}
.Cantidad1 {
}
.donar2 {
}
.Cantidad2 {
    margin-top: -75px;
}
