@charset "utf-8";

.bg-light {
    background-color: #FF8E00
}

.carousel-caption{
    background-color:rgba(231,118,51,0.70);
        margin-bottom: 40px;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    color: black;
    text-align: center;
}

	.pie01{
		background-color: #FFB600;
		color: #FFFFFF;
		margin-top: 60px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		align-content: center;
	}
	.pie01 a{
	
	color:#FFFFFF;
	}

	.pie01 a:hover{
	color:#5E5E5E
	}

	.pie02{
		background-color: #272727;
		color:#FFFFFF;
		padding-top: 20px;
		padding-bottom: 20px;
	}
.Parallax p {
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    font-style: italic;
    font-size: x-large;
    text-align: center;
    background-color: rgba(251,171,0,0.58);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-clip: border-box;
    padding-top: 130px;
}
.Parallax {
    width: 1445px;
    background-image: url(orange-wallpaper-7.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}
.foto {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url(digital-art-geometry-texture-black-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.col-sm4 .thumbnail img {
    width: 78%;
}




@media only screen and (max-width: 700px) {
	.carousel-caption {
		background-color: rgba(231,118,51,0.70) 
}
}
